:root {
  --colour-background: #72b3ff;
  --colour-emphasis: #ff3131;
  --colour-text-emphasis: #ffffff;
  --colour-neutral: #0f0a62;
  --colour-text: #000000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  user-select: none;
}

body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;

  color: var(--color-text);
  background: var(--color-background);

  /* transition: all 0.5s; */

  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
