@import '@/assets/base.css';

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--colour-background);
  font-weight: normal;
}

.fullsize {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}